
<a href="/tr/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/tr/printable"                class="{{#is meta.url '/tr/printable'               }}active {{/is}}dropdown-item">View All</a>
  <a href="/gdb.pdf"                     class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/tr/"                         class="{{#is meta.url '/tr/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
  <a href="/tr/what-is-gender"           class="{{#is meta.url '/tr/what-is-gender'          }}active {{/is}}dropdown-item">What is Gender?</a>
  <a href="/tr/history"                  class="{{#is meta.url '/tr/history'                 }}active {{/is}}dropdown-item">The History of Gender Dysphoria</a>
  <a href="/tr/euphoria"                 class="{{#is meta.url '/tr/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
  <a href="/tr/physical-dysphoria"       class="{{#is meta.url '/tr/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
  <a href="/tr/biochemical-dysphoria"    class="{{#is meta.url '/tr/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
  <a href="/tr/social-dysphoria"         class="{{#is meta.url '/tr/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/tr/societal-dysphoria"       class="{{#is meta.url '/tr/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/tr/sexual-dysphoria"         class="{{#is meta.url '/tr/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
  <a href="/tr/presentational-dysphoria" class="{{#is meta.url '/tr/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
  <a href="/tr/existential-dysphoria"    class="{{#is meta.url '/tr/existential-dysphoria'   }}active {{/is}}dropdown-item">Existential Dysphoria</a>
  <a href="/tr/managed-dysphoria"        class="{{#is meta.url '/tr/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
  <a href="/tr/impostor-syndrome"        class="{{#is meta.url '/tr/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
  <a href="/tr/am-i-trans       "        class="{{#is meta.url '/tr/am-i-trans'              }}active {{/is}}dropdown-item">Am I Trans?</a>
  <a href="/tr/diagnoses"                class="{{#is meta.url '/tr/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
  <a href="/tr/treatment"                class="{{#is meta.url '/tr/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
  <a href="/tr/causes"                   class="{{#is meta.url '/tr/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
  <a href="/tr/chromosomes"              class="{{#is meta.url '/tr/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/tr/hormones"                 class="{{#is meta.url '/tr/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
  <a href="/tr/second-puberty-masc"      class="{{#is meta.url '/tr/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
  <a href="/tr/second-puberty-fem"       class="{{#is meta.url '/tr/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
  <a href="/tr/conclusion"               class="{{#is meta.url '/tr/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
